body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}


.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container input {
    margin: 0 10px;
    padding: 5px;
    width: 100px;
}

.result {
    text-align: center;
}